@keyframes h {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:firebrick; left:5px; top:0px;}
  50%  {color:crimson; left:5px; top:5px;}
  75%  {color:coral; left:0px; top:5px;}
  100% {color:orangered; left:0px; top:0px;}
}

body {
  background-color: black; 
}
p {
  font-size: 200px;
}
#h {
  position: relative;
  animation-name: h;
  animation-duration: 20s;
}
