@keyframes h {
  0%   {color:red;}
  25%  {color:firebrick;}
  50%  {color:crimson;}
  75%  {color:coral;}
  100% {color:orangered;}
}
@keyframes move {
	0%	{left:0px; top:0px;}
	25%	{left:10px; top:0px;}
	50%	{left:10px; top:10px;}
	75%	{left:0px; top:10px;}
	100%{left:0px; top:0px;}
}


body {
  background-color: black; 
  color: white;
  font-size: 20px;
  padding-left: 1%; 
}
h1 {
  font-family: serif;
  line-height: 70%;
  font-size: 200px;
  padding-top: 3%;
  margin:0;
  position:relative;
}
#h {
	position: relative;
	animation: h 1.5s infinite, move 6s infinite linear;
}
#e {
	position: relative;
	animation: h 1.5s infinite, move 6s infinite linear -0.5s;
}

#l1 {
	position: relative;
	animation: h 1.5s infinite, move 6s infinite linear -1s;
}
#l2 {
	position: relative;
	animation: h 1.5s infinite, move 6s infinite linear -1.5s;
}

#o {
	position: relative;
	animation: h 1.5s infinite, move 6s infinite linear -2s;
}

hr {
	position: relative;
	animation: h 20s linear infinite;
}

#links {
	text-align: center;
}
a {
	animation: h 20s linear infinite;
}
